//
// Variables
@import 'variables';

// styles from 3-rd party libraries
@import 'animate';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// custom theme styles
@import 'style';


// Fonw Awesome
// @import 'node_modules/@fortawesome/fontawesome-free/scss/brands.scss';
@import 'node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import 'node_modules/@fortawesome/fontawesome-free/scss/regular.scss';
@import 'node_modules/@fortawesome/fontawesome-free/scss/solid.scss';
// @import 'node_modules/@fortawesome/fontawesome-free/scss/v4-shims.scss';


// For development pupeses only
.br { border: 2px solid red; }
.bb { border: 1px solid blue; }

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 80px;
    overflow-y: scroll;
    min-height: 75rem;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    min-height: 80px;
    line-height: 36px;

    font-weight: 300;
    box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.1);
    border-top: 1px solid #fff;

    background-image: repeating-linear-gradient(to bottom right, #3f95ea 0%, #52d3aa 100%);
    background-size: 100%;
}

.footer .container {
    line-height: 76px;
    /* Vertically center the text there */
}

@media screen and (max-width: 768px) {
    .footer .container {
        line-height: 34px;
    }
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 60px 15px 0;
}

.navbar {
    font-weight: 300;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    border-bottom: 1px dotted #fff;

    background-image: repeating-linear-gradient(to bottom right, #52d3aa 0%, #3f95ea 100%);
    background-size: 100%;
    min-height: 100px;
    z-index: 11;
}





/* ---- .grid-item ---- */
.grid-item {
    width: 200px;
    padding: 8px;
}

.grid-item img {
    display: block;
    width: 100%;
}

